In [ ]:
# SQL is a standard language for managing and manipulating relational databases.
#                                    whereas
# SQLite is a self-contained, serverless and zero configuration database engine 
# mostly used in embedded database systems.

# in python3, sqlite3 comes preinstalled

# Datatypes in SQLite3 :-
# Integer, Real, Text, BLOB only

In [1]:
import sqlite3 as sql

In [13]:
# connect to an SQLite database (a local .db file)
# creates a database / links to a pre-existing database
database = sql.connect('example.db')
print(database)

# create a cursor for the database
cursor = database.cursor()
print(cursor)

<sqlite3.Connection object at 0x0000020E5A348400>
<sqlite3.Cursor object at 0x0000020E5A4CE4C0>

In [14]:
# Creating a table
create_table_query = """
    create table if not exists Employees(
        Emp_ID Integer Primary Key,
        Name Text Not Null,
        Age Integer,
        Department Text
    )
"""
cursor.execute(create_table_query)

In [7]:
# Insertion in table
id = int(input("Enter Employee ID: "))
name = input("Enter Employee Name: ")
age = int(input("Enter the Employee's Age: "))
dept = input("Enter the Department: ")

insert_query = f"""
    Insert Into Employees(Emp_ID, Name, Age, Department)
    Values({id}, '{name}', {age}, '{dept}')
"""

cursor.execute(insert_query)

In [15]:
# Running some query
select_all = """
    select * from Employees
"""
cursor.execute(select_all)

records = cursor.fetchall()
for record in records:
    print(record)

(20, 'Aditya Vimal', 22, 'Machine Learning')
(21, 'Rahul Singh', 21, 'Computer Science')
(22, 'Alok Kumar', 23, 'Electrical Engineering')

In [9]:
# Updating the table
update_query = """
    update Employees
    set Department = "Machine Learning"
    where Name = "Aditya Vimal"
"""

cursor.execute(update_query)

cursor.execute(select_all)
records = cursor.fetchall()
for record in records:
    print(record)

(20, 'Aditya Vimal', 22, 'Machine Learning')
(21, 'Rahul Singh', 21, 'Computer Science')
(22, 'Alok Kumar', 23, 'Electrical Engineering')

In [10]:
database.commit()       # commits the changes the local .db file

# Deleting the records
delete_query = """
    delete from Employees
    where Name = 'Aditya Vimal'
"""

cursor.execute(delete_query)

cursor.execute(select_all)
records = cursor.fetchall()
for record in records:
    print(record)

(21, 'Rahul Singh', 21, 'Computer Science')
(22, 'Alok Kumar', 23, 'Electrical Engineering')

In [ ]:
database.rollback()     # rolls back to last commit (or null if no commits made yet)

cursor.execute(select_all)
records = cursor.fetchall()
for record in records:
    print(record)

database.commit()       # commits the changes the local .db file

(20, 'Aditya Vimal', 22, 'Machine Learning')
(21, 'Rahul Singh', 21, 'Computer Science')
(22, 'Alok Kumar', 23, 'Electrical Engineering')

In [12]:
database.close()            # closes the connection