In [131]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plotter
import seaborn as sns

df = pd.read_excel('./assets/flight-price.xlsx')
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [132]:
df.info()           # basic info (columns and datatypes)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [133]:
# remove duplicates rows
df.drop_duplicates()

# check for null values
print(df.isna().any(axis = 0))

Airline            False
Date_of_Journey    False
Source             False
Destination        False
Route               True
Dep_Time           False
Arrival_Time       False
Duration           False
Total_Stops         True
Additional_Info    False
Price              False
dtype: bool

In [134]:
# filter out the rows having null values
df = df[df.notnull().all(axis = 1)]
print(df.isna().any(axis = 0))

Airline            False
Date_of_Journey    False
Source             False
Destination        False
Route              False
Dep_Time           False
Arrival_Time       False
Duration           False
Total_Stops        False
Additional_Info    False
Price              False
dtype: bool

In [ ]:
# Examining Airline Feature :- We find it to be a categorical variable. Leave as it is for now
print(df['Airline'].unique())

['IndiGo' 'Air India' 'Jet Airways' 'SpiceJet' 'Multiple carriers' 'GoAir'
 'Vistara' 'Air Asia' 'Vistara Premium economy' 'Jet Airways Business'
 'Multiple carriers Premium economy' 'Trujet']

In [136]:
# Examining Date Column :- We find it to be a string (combination of 3 integers)
#                           - Try splitting it into Date, Month and Year

df['Date'] = df['Date_of_Journey'].str.split('/').str[0]
df['Month'] = df['Date_of_Journey'].str.split('/').str[1]
df['Year'] = df['Date_of_Journey'].str.split('/').str[2]

# drop the date_of_journey column (no more needed)
df.drop('Date_of_Journey', inplace = True, axis = 1)

df.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,03,2019
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662,1,05,2019
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882,9,06,2019
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218,12,05,2019
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302,01,03,2019

In [137]:
# convert the date, month and year into int type
df['Date'] = df['Date'].astype(int)
df['Month'] = df['Month'].astype(int)
df['Year'] = df['Year'].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10682 entries, 0 to 10682
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10682 non-null  object
 1   Source           10682 non-null  object
 2   Destination      10682 non-null  object
 3   Route            10682 non-null  object
 4   Dep_Time         10682 non-null  object
 5   Arrival_Time     10682 non-null  object
 6   Duration         10682 non-null  object
 7   Total_Stops      10682 non-null  object
 8   Additional_Info  10682 non-null  object
 9   Price            10682 non-null  int64
 10  Date             10682 non-null  int64
 11  Month            10682 non-null  int64
 12  Year             10682 non-null  int64
dtypes: int64(4), object(9)
memory usage: 1.1+ MB

In [ ]:
# Examining Source and Destination Columns :- Found to be Categorical Variable. Leave as it is for now

print(df['Source'].unique())
print(df['Destination'].unique())

['Banglore' 'Kolkata' 'Delhi' 'Chennai' 'Mumbai']
['New Delhi' 'Banglore' 'Cochin' 'Kolkata' 'Delhi' 'Hyderabad']

In [139]:
# Examining Route Column :- Found a complex string with seperator →

# - We already have a Source and Destination Column.
# - We also have no of stops between Source and Destination.
# - Hence, we can drop the column

df.drop('Route', inplace = True, axis = 1)

In [140]:
# Examining Arrival_Time, Dep_Time :- Data is in string format in format XX:XX
#           - Split into Arrival_Hour, Arrival_Min, Dep_Hour, Dep_Min

df['Arrival_Time'] = df['Arrival_Time'].str.split(' ').str[0]   # Extracting Time
df['Arrival_Hour'] = df['Arrival_Time'].str.split(':').str[0]   # Extracting Hour
df['Arrival_Min'] = df['Arrival_Time'].str.split(':').str[1]    # Extracting Mins

df['Dep_Time'] = df['Dep_Time'].str.split(' ').str[0]   # Extracting Time
df['Dep_Hour'] = df['Dep_Time'].str.split(':').str[0]   # Extracting Hour
df['Dep_Min'] = df['Dep_Time'].str.split(':').str[1]    # Extracting Mins

# drop both columns after seperating four and mins
df.drop(['Arrival_Time', 'Dep_Time'], axis = 1, inplace = True)
df.head()

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Min,Dep_Hour,Dep_Min
0,IndiGo,Banglore,New Delhi,2h 50m,non-stop,No info,3897,24,3,2019,01,10,22,20
1,Air India,Kolkata,Banglore,7h 25m,2 stops,No info,7662,1,5,2019,13,15,05,50
2,Jet Airways,Delhi,Cochin,19h,2 stops,No info,13882,9,6,2019,04,25,09,25
3,IndiGo,Kolkata,Banglore,5h 25m,1 stop,No info,6218,12,5,2019,23,30,18,05
4,IndiGo,Banglore,New Delhi,4h 45m,1 stop,No info,13302,1,3,2019,21,35,16,50

In [141]:
# convert into int datatype

df['Arrival_Hour'] = df['Arrival_Hour'].astype(int)
df['Arrival_Min'] = df['Arrival_Min'].astype(int)
df['Dep_Hour'] = df['Dep_Hour'].astype(int)
df['Dep_Min'] = df['Dep_Min'].astype(int)

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10682 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10682 non-null  object
 1   Source           10682 non-null  object
 2   Destination      10682 non-null  object
 3   Duration         10682 non-null  object
 4   Total_Stops      10682 non-null  object
 5   Additional_Info  10682 non-null  object
 6   Price            10682 non-null  int64
 7   Date             10682 non-null  int64
 8   Month            10682 non-null  int64
 9   Year             10682 non-null  int64
 10  Arrival_Hour     10682 non-null  int64
 11  Arrival_Min      10682 non-null  int64
 12  Dep_Hour         10682 non-null  int64
 13  Dep_Min          10682 non-null  int64
dtypes: int64(8), object(6)
memory usage: 1.2+ MB

In [142]:
# Examining Duration Column :- Data is in string format XXh XXm (Min maybe absent)

# Using Regular Expression to extract the pattern XXh and XXm
df['Duration_Hour'] = df['Duration'].str.extract(r'(\d+)h')[0].fillna(0)
df['Duration_Min'] = df['Duration'].str.extract(r'(\d+)m')[0].fillna(0)

df.drop('Duration', axis = 1, inplace = True)
df.head()

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Min,Dep_Hour,Dep_Min,Duration_Hour,Duration_Min
0,IndiGo,Banglore,New Delhi,non-stop,No info,3897,24,3,2019,1,10,22,20,2,50
1,Air India,Kolkata,Banglore,2 stops,No info,7662,1,5,2019,13,15,5,50,7,25
2,Jet Airways,Delhi,Cochin,2 stops,No info,13882,9,6,2019,4,25,9,25,19,0
3,IndiGo,Kolkata,Banglore,1 stop,No info,6218,12,5,2019,23,30,18,5,5,25
4,IndiGo,Banglore,New Delhi,1 stop,No info,13302,1,3,2019,21,35,16,50,4,45

In [143]:
# Convert Duration_Hour and Duration_Min into integer datatype

df['Duration_Hour'] = df['Duration_Hour'].astype(int)
df['Duration_Min'] = df['Duration_Min'].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10682 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10682 non-null  object
 1   Source           10682 non-null  object
 2   Destination      10682 non-null  object
 3   Total_Stops      10682 non-null  object
 4   Additional_Info  10682 non-null  object
 5   Price            10682 non-null  int64
 6   Date             10682 non-null  int64
 7   Month            10682 non-null  int64
 8   Year             10682 non-null  int64
 9   Arrival_Hour     10682 non-null  int64
 10  Arrival_Min      10682 non-null  int64
 11  Dep_Hour         10682 non-null  int64
 12  Dep_Min          10682 non-null  int64
 13  Duration_Hour    10682 non-null  int64
 14  Duration_Min     10682 non-null  int64
dtypes: int64(10), object(5)
memory usage: 1.3+ MB

In [144]:
# Examining Total_Stops Column :- Varies between non-stop(0) to 4
#           - Better to convert it into integer with 5 values
print(df['Total_Stops'].unique())

def converter(x):
    if(x == 'non-stop'): return '1'
    else:
        stops = x.split(' ')[0]
        return stops

df['Total_Stops'] = df['Total_Stops'].apply(converter)

# convert into integer type
df['Total_Stops'] = df['Total_Stops'].astype(int)
df.head()

['non-stop' '2 stops' '1 stop' '3 stops' '4 stops']

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Min,Dep_Hour,Dep_Min,Duration_Hour,Duration_Min
0,IndiGo,Banglore,New Delhi,1,No info,3897,24,3,2019,1,10,22,20,2,50
1,Air India,Kolkata,Banglore,2,No info,7662,1,5,2019,13,15,5,50,7,25
2,Jet Airways,Delhi,Cochin,2,No info,13882,9,6,2019,4,25,9,25,19,0
3,IndiGo,Kolkata,Banglore,1,No info,6218,12,5,2019,23,30,18,5,5,25
4,IndiGo,Banglore,New Delhi,1,No info,13302,1,3,2019,21,35,16,50,4,45

In [ ]:
# Examining Additional_Info Column :- Categorical Variable. Leave as it is for now
print(df['Additional_Info'].unique())
print()
df.info()

['No info' 'In-flight meal not included' 'No check-in baggage included'
 '1 Short layover' 'No Info' '1 Long layover' 'Change airports'
 'Business class' 'Red-eye flight' '2 Long layover']

<class 'pandas.core.frame.DataFrame'>
Index: 10682 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10682 non-null  object
 1   Source           10682 non-null  object
 2   Destination      10682 non-null  object
 3   Total_Stops      10682 non-null  int64
 4   Additional_Info  10682 non-null  object
 5   Price            10682 non-null  int64
 6   Date             10682 non-null  int64
 7   Month            10682 non-null  int64
 8   Year             10682 non-null  int64
 9   Arrival_Hour     10682 non-null  int64
 10  Arrival_Min      10682 non-null  int64
 11  Dep_Hour         10682 non-null  int64
 12  Dep_Min          10682 non-null  int64
 13  Duration_Hour    10682 non-null  int64
 14  Duration_Min     10682 non-null  int64
dtypes: int64(11), object(4)
memory usage: 1.3+ MB

In [154]:
# For Categorical Variable we can do One-Hot Encoding (Binary Encoding)

df_encoded = pd.get_dummies(df, columns=['Airline', 'Source', 'Destination', 'Additional_Info'])
print(df_encoded.columns)       # curse of dimensionality
print()
print(df_encoded.info())
df_encoded.to_csv('./assets/cleaned_flight_price.csv', index=False)

df_encoded.head()

Index(['Total_Stops', 'Price', 'Date', 'Month', 'Year', 'Arrival_Hour',
       'Arrival_Min', 'Dep_Hour', 'Dep_Min', 'Duration_Hour', 'Duration_Min',
       'Airline_Air Asia', 'Airline_Air India', 'Airline_GoAir',
       'Airline_IndiGo', 'Airline_Jet Airways', 'Airline_Jet Airways Business',
       'Airline_Multiple carriers',
       'Airline_Multiple carriers Premium economy', 'Airline_SpiceJet',
       'Airline_Trujet', 'Airline_Vistara', 'Airline_Vistara Premium economy',
       'Source_Banglore', 'Source_Chennai', 'Source_Delhi', 'Source_Kolkata',
       'Source_Mumbai', 'Destination_Banglore', 'Destination_Cochin',
       'Destination_Delhi', 'Destination_Hyderabad', 'Destination_Kolkata',
       'Destination_New Delhi', 'Additional_Info_1 Long layover',
       'Additional_Info_1 Short layover', 'Additional_Info_2 Long layover',
       'Additional_Info_Business class', 'Additional_Info_Change airports',
       'Additional_Info_In-flight meal not included',
       'Additional_Info_No Info',
       'Additional_Info_No check-in baggage included',
       'Additional_Info_No info', 'Additional_Info_Red-eye flight'],
      dtype='object')

<class 'pandas.core.frame.DataFrame'>
Index: 10682 entries, 0 to 10682
Data columns (total 44 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Total_Stops                                   10682 non-null  int64
 1   Price                                         10682 non-null  int64
 2   Date                                          10682 non-null  int64
 3   Month                                         10682 non-null  int64
 4   Year                                          10682 non-null  int64
 5   Arrival_Hour                                  10682 non-null  int64
 6   Arrival_Min                                   10682 non-null  int64
 7   Dep_Hour                                      10682 non-null  int64
 8   Dep_Min                                       10682 non-null  int64
 9   Duration_Hour                                 10682 non-null  int64
 10  Duration_Min                                  10682 non-null  int64
 11  Airline_Air Asia                              10682 non-null  bool
 12  Airline_Air India                             10682 non-null  bool
 13  Airline_GoAir                                 10682 non-null  bool
 14  Airline_IndiGo                                10682 non-null  bool
 15  Airline_Jet Airways                           10682 non-null  bool
 16  Airline_Jet Airways Business                  10682 non-null  bool
 17  Airline_Multiple carriers                     10682 non-null  bool
 18  Airline_Multiple carriers Premium economy     10682 non-null  bool
 19  Airline_SpiceJet                              10682 non-null  bool
 20  Airline_Trujet                                10682 non-null  bool
 21  Airline_Vistara                               10682 non-null  bool
 22  Airline_Vistara Premium economy               10682 non-null  bool
 23  Source_Banglore                               10682 non-null  bool
 24  Source_Chennai                                10682 non-null  bool
 25  Source_Delhi                                  10682 non-null  bool
 26  Source_Kolkata                                10682 non-null  bool
 27  Source_Mumbai                                 10682 non-null  bool
 28  Destination_Banglore                          10682 non-null  bool
 29  Destination_Cochin                            10682 non-null  bool
 30  Destination_Delhi                             10682 non-null  bool
 31  Destination_Hyderabad                         10682 non-null  bool
 32  Destination_Kolkata                           10682 non-null  bool
 33  Destination_New Delhi                         10682 non-null  bool
 34  Additional_Info_1 Long layover                10682 non-null  bool
 35  Additional_Info_1 Short layover               10682 non-null  bool
 36  Additional_Info_2 Long layover                10682 non-null  bool
 37  Additional_Info_Business class                10682 non-null  bool
 38  Additional_Info_Change airports               10682 non-null  bool
 39  Additional_Info_In-flight meal not included   10682 non-null  bool
 40  Additional_Info_No Info                       10682 non-null  bool
 41  Additional_Info_No check-in baggage included  10682 non-null  bool
 42  Additional_Info_No info                       10682 non-null  bool
 43  Additional_Info_Red-eye flight                10682 non-null  bool
dtypes: bool(33), int64(11)
memory usage: 1.3 MB
None

,Total_Stops,Price,Date,Month,Year,Arrival_Hour,Arrival_Min,Dep_Hour,Dep_Min,Duration_Hour,...,Additional_Info_1 Long layover,Additional_Info_1 Short layover,Additional_Info_2 Long layover,Additional_Info_Business class,Additional_Info_Change airports,Additional_Info_In-flight meal not included,Additional_Info_No Info,Additional_Info_No check-in baggage included,Additional_Info_No info,Additional_Info_Red-eye flight
0,1,3897,24,3,2019,1,10,22,20,2,...,False,False,False,False,False,False,False,False,True,False
1,2,7662,1,5,2019,13,15,5,50,7,...,False,False,False,False,False,False,False,False,True,False
2,2,13882,9,6,2019,4,25,9,25,19,...,False,False,False,False,False,False,False,False,True,False
3,1,6218,12,5,2019,23,30,18,5,5,...,False,False,False,False,False,False,False,False,True,False
4,1,13302,1,3,2019,21,35,16,50,4,...,False,False,False,False,False,False,False,False,True,False